PHONEPE_CLIENT_ID=M23UKRQE2S5KA_2610101456
PHONEPE_CLIENT_SECRET=ZmI2YjE3NDQtMzI3NC00OGZkLThmZDktNTE0ZmI3YjAzMjg3
PHONEPE_CLIENT_VERSION=1
PHONEPE_ENV=sandbox
PHONEPE_WEBHOOK_USERNAME=pradhiip92
PHONEPE_WEBHOOK_PASSWORD=Prad62610
FIREBASE_SERVICE_ACCOUNT_JSON=
GEMINI_API_KEY=hello